# Ignore data and results folders
data/*.csv

results/*.json

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore system files
.DS_Store
Thumbs.db
